//
// ***** Google Fonts Start *****
////// ***** MAIN FONT *****
@import url("https://fonts.googleapis.com/css2?family=Kufam:ital@1&display=swap");
// ***** Google Fonts End *****
//froze text
@import url("https://fonts.googleapis.com/css2?family=Iceberg&display=swap");
//
//
// ***** GLOBAL Start *****
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Kufam", cursive;
  overflow-x: hidden;
  .default-hr {
    border-style: dotted none none none;
    color: grey;
    border-width: thick;
  }
}

//
// ***** GLOBAL End *****
//
//*****************************************************************************
//
//***** Navbar Start *****
nav {
  .brand-logo {
    width: 50%;
    margin-left: 1rem;
  }

  .collapse {
    .nav-link {
      font-size: larger;
      font-weight: bold;
      margin: 0 1rem;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        height: 3px;
        background-color: #007fff;
        border-width: thick;
        box-shadow: 0 0 10px #007fff, inset 0 0 20px #007fff;
        transition: all 0.5s linear;
      }
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        right: 0;
        width: 0;
        height: 3px;
        background-color: #eb311f;
        border-width: thick;
        box-shadow: 0 0 10px #eb311f, inset 0 0 20px #eb311f;
        transition: all 0.5s linear;
      }
      &:hover::before {
        width: 100%;
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
}

//
//***** Navbar End *****
//
//*****************************************************************************
//
//***** Banner Start *****
#banner {
  // background-color: #e8f0f5;

  .container {
    .row {
      .column-1 {
        .info {
          h2 {
            font-size: 1rem;
          }

          .my-name {
            font-size: 1.5rem;
            font-weight: bolder;
            margin: 0.5rem 0;
            font-family: "Iceberg", cursive;
          }

          .default-hr {
            width: 30%;
          }

          .mywork {
            color: #eb311f;
            text-transform: uppercase;
            margin: 2rem 0 0.5rem;
            font-weight: bold;

            .and-symbol {
              color: #262626;
            }
            .ux-ui {
              color: #007fff;
            }
          }

          .awesome-hr-1 {
            background-color: #eb311f;
            border-width: thick;
            box-shadow: 0 0 10px #eb311f, inset 0 0 20px #eb311f;
            width: 50%;

            margin: 2rem 0;
            border-radius: 10px;
          }

          .awesome-hr-2 {
            background-color: #007fff;
            border-width: thick;
            box-shadow: 0 0 10px #007fff, inset 0 0 20px #007fff;
            width: 50%;

            margin: 2rem 0;
            border-radius: 10px;
          }

          .HD-buttons {
            display: flex;
            justify-content: center;
            align-items: center;

            .b-button {
              margin: 2rem 0.5rem;
              font-size: 10px;
            }
          }
          //.b-buttons {
          //   .download-cv {
          //     a {
          //       color: #262626;
          //       display: inline-block;
          //       font-size: 1.5rem;
          //       text-decoration: none;
          //       border-radius: 30px;
          //       padding: 0.5rem 2rem;
          //       position: relative;
          //       z-index: 1;
          //       overflow: hidden;
          //       transition: all 0.3s;
          //       &::before {
          //         content: "";
          //         position: absolute;
          //         left: 0;
          //         top: 0;
          //         background-image: linear-gradient(
          //           135deg,
          //           rgb(68, 202, 201) 0%,
          //           rgb(252, 255, 114) 100%
          //         );
          //         width: 100%;
          //         height: 100%;
          //         z-index: -1;
          //         transform: rotate(-90deg);
          //         transform-origin: bottom left;
          //         transition: all 0.3s;
          //       }
          //       &:hover {
          //         color: #fff;
          //         i {
          //           color: #007fff;
          //         }
          //       }
          //     }
          //     a:hover::before {
          //       transform: rotate(0deg);
          //     }
          //   }
          //}

          .awesome-button {
            margin: 0.5rem 0;
            a {
              color: #262626;
              border: 1px solid #262626;
              display: inline-block;
              font-size: 1.1rem;
              box-shadow: 10px 0 3px black;
              text-decoration: none;
              border-radius: 30px;
              padding: 0.5rem 2rem;
              position: relative;
              z-index: 1;
              overflow: hidden;
              transition: all 0.3s;
              &::before {
                content: "";
                position: absolute;
                //border-radius: 30px;
                left: 0;
                top: 0;
                //background-color: #e74c3c;
                // background-image: linear-gradient(
                //   135deg,
                //   rgb(68, 202, 201) 0%,
                //   rgb(252, 255, 114) 100%
                // );
                //
                //
                background-image: repeating-linear-gradient(
                    135deg,
                    rgba(244, 244, 244, 0.06) 0px,
                    rgba(244, 244, 244, 0.06) 46px,
                    rgba(92, 92, 92, 0.06) 46px,
                    rgba(92, 92, 92, 0.06) 79px,
                    rgba(208, 208, 208, 0.06) 79px,
                    rgba(208, 208, 208, 0.06) 119px,
                    rgba(87, 87, 87, 0.06) 119px,
                    rgba(87, 87, 87, 0.06) 162px,
                    rgba(8, 8, 8, 0.06) 162px,
                    rgba(8, 8, 8, 0.06) 187px,
                    rgba(206, 206, 206, 0.06) 187px,
                    rgba(206, 206, 206, 0.06) 211px,
                    rgba(183, 183, 183, 0.06) 211px,
                    rgba(183, 183, 183, 0.06) 247px,
                    rgba(21, 21, 21, 0.06) 247px,
                    rgba(21, 21, 21, 0.06) 288px
                  ),
                  repeating-linear-gradient(
                    135deg,
                    rgba(148, 148, 148, 0.06) 0px,
                    rgba(148, 148, 148, 0.06) 28px,
                    rgba(104, 104, 104, 0.06) 28px,
                    rgba(104, 104, 104, 0.06) 58px,
                    rgba(236, 236, 236, 0.06) 58px,
                    rgba(236, 236, 236, 0.06) 101px,
                    rgba(245, 245, 245, 0.06) 101px,
                    rgba(245, 245, 245, 0.06) 128px,
                    rgba(104, 104, 104, 0.06) 128px,
                    rgba(104, 104, 104, 0.06) 167px,
                    rgba(90, 90, 90, 0.06) 167px,
                    rgba(90, 90, 90, 0.06) 216px,
                    rgba(31, 31, 31, 0.06) 216px,
                    rgba(31, 31, 31, 0.06) 260px,
                    rgba(25, 25, 25, 0.06) 260px,
                    rgba(25, 25, 25, 0.06) 305px
                  ),
                  repeating-linear-gradient(
                    135deg,
                    rgba(221, 221, 221, 0.06) 0px,
                    rgba(221, 221, 221, 0.06) 20px,
                    rgba(154, 154, 154, 0.06) 20px,
                    rgba(154, 154, 154, 0.06) 66px,
                    rgba(60, 60, 60, 0.06) 66px,
                    rgba(60, 60, 60, 0.06) 88px,
                    rgba(170, 170, 170, 0.06) 88px,
                    rgba(170, 170, 170, 0.06) 115px,
                    rgba(241, 241, 241, 0.06) 115px,
                    rgba(241, 241, 241, 0.06) 131px,
                    rgba(99, 99, 99, 0.06) 131px,
                    rgba(99, 99, 99, 0.06) 147px,
                    rgba(203, 203, 203, 0.06) 147px,
                    rgba(203, 203, 203, 0.06) 193px,
                    rgba(83, 83, 83, 0.06) 193px,
                    rgba(83, 83, 83, 0.06) 204px
                  ),
                  linear-gradient(90deg, rgb(248, 8, 31), rgb(88, 39, 62));
                //
                //
                width: 100%;
                height: 100%;
                z-index: -1;
                transform: rotate(-90deg);
                transform-origin: bottom left;
                transition: all 0.3s;
              }
              i {
                transition: all 0.5s;
              }
              &:hover {
                color: #fff;
                i {
                  color: #e0c56e;
                  transition: all 0.5s;
                }
                .left-icon {
                  transform: rotate(90deg);
                }
                .right-icon {
                  transform: rotate(-90deg);
                }
              }
            }
            a:hover::before {
              transform: rotate(0deg);
            }
          }
        }
      }
    }
  }
}

//
//***** Banner End *****
//
//*****************************************************************************
//
//***** Carousel Start *****
#intro-carousel {
  .carousel-item {
    img {
      height: 100%;
    }
  }
}

//
//***** Carousel End *****
//
//*****************************************************************************
//
//***** About-Me Start
#about-us {
  .abt-me-title {
    font-size: 2rem;
  }
  .container {
    .row {
      // .column-1 {
      //   position: relative;
      //   .bg {
      //     position: absolute;
      //     top: 0;
      //     left: 0;
      //     width: 100%;
      //     height: 100%;
      //     background-color: #262626;
      //     z-index: -1;
      //     &::after {
      //       content: "";
      //       width: 50%;
      //       height: 100%;
      //       background-color: #05f140;
      //       position: absolute;
      //       left: 0;
      //       top: 0;
      //       z-index: 0;
      //     }
      //   }
      // }
      .column-1 {
        position: relative;
        .bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          display: grid;
          grid-template-rows: 1fr 1fr 1fr 1fr;
          .a {
            //background-color: #262626;
            background-color: #262626;
            border-width: thick;
            box-shadow: 0 0 10px #262626, inset 0 0 20px#262626;
            border-radius: 30px;
            //height: 50px;
          }
          .b {
            //background-color: #05f140;
            background-color: #05f140;
            border-width: thick;
            box-shadow: 0 0 10px #05f140, inset 0 0 20px#05f140;
            border-radius: 30px;
            //height: 50px;
          }
        }
      }
      .column-2 {
        h2 {
          font-size: 2rem;
        }
        hr {
          //background-color: #007fff;
          background-color: #05f140;
          border-width: thick;
          box-shadow: 0 0 10px #05f140, inset 0 0 20px#05f140;

          width: 50%;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}
//
//*****************************************************************************
//
//***** Services Start *****
#services {
  .our-services-title {
    font-size: 2rem;
  }
  .services-p {
    font-size: 1.1rem;
  }
  .container {
    .row {
      .card {
        //width: 80%;
        transition: 0.7s ease;
        &:hover {
          transform: scaleY(1.1);
          box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
        }
        .card-body {
          font-size: 0.7rem;
        }
      }
    }
  }
}

//
//***** Services End *****
//
//*****************************************************************************
//
//***** Gallery Start *****
#gallery {
  .container {
    .button-group {
      padding: 0 4rem;

      button {
        background: transparent;
        border: none;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 2rem;
        outline: none;
        padding: 0.5rem 0;
      }
    }
    .gallery-row {
      .all {
        figure {
          img {
            transition: 0.5s ease;
            &:hover {
              transform: scale(1.02);
              //border-radius: 50%;
              filter: brightness(1.1);
              box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
              -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
            }
          }
        }
      }
    }
  }
}

//
//***** Gallery End *****
//
//*****************************************************************************
//
//***** CV Start *****
#cv {
  //color: #a6dcef;
  background-color: #a6dcef;
  h1 {
    font-size: 2rem;
  }
}

//
//***** CV End *****
//
//*****************************************************************************
//
//***** Client-Section Start *****
#client-section {
  .carousel {
    .client {
      background-color: #fff;
      padding: 1rem;
      margin: 3rem 1rem;
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
      border-radius: 30px;
      .client-img {
        padding: 1rem 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
      .about-client {
        padding: 1rem 0;
      }
    }
  }
}

//
//***** CV End *****
//
//*****************************************************************************
//
// ***** Footer Start *****
#footer {
  .container {
    .footer-content {
      .social {
        a {
          color: black;
          .facebook,
          .instagram,
          .github,
          .twitter,
          .phone {
            transition: 0.5s ease;
            &:hover {
              transform: translateY(-20%);
            }
          }
          .facebook {
            &:hover {
              color: #007fff;
            }
          }
          .instagram {
            &:hover {
              color: #ee4266;
            }
          }
          .github {
            &:hover {
              color: #ffd23f;
            }
          }
          .twitter {
            &:hover {
              color: #08a4bd;
            }
          }
          .phone {
            &:hover {
              color: #05f140;
            }
          }
        }
      }
    }
  }
}

//
//***** Footer End *****
//
//*****************************************************************************
//
//***** Key-Frames START *****
//

//
//
//***** Key-Frames END *****
//
//*****************************************************************************
//
// RESPONSIVE CSS CODE (MEDIA QUERY)
// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  //...
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  //...
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  //...
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  //...
}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) {
  //...
}

// XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width
